@page "{gameId:int}/{idPlayer1:long}/{idPlayer2:long}"
@model SSUAchievementComparer.Pages.Achievements.AchievementComparisonModel
@{
}


<link rel="stylesheet" href="~/css/game_achievements.css" />
<link rel="stylesheet" href="~/css/globalv2.css" />
<link rel="stylesheet" href="~/css/playerstats_generic.css" />
<link rel="stylesheet" href="~/css/style.css" />

@* If the game was not found, we don't show anything else *@
@if (!Model.GameDetails.GameExists)
{
    @Html.Raw("Game was not found");
    return;
}

<div class="">
    <div class="row">
        <partial name="_PlayerAchievement" model="Model.PlayerDetails1" />
        <partial name="_PlayerAchievement" model="Model.PlayerDetails2" />
    </div>
</div>

<h3 class="text-center">All @Model.GameDetails.GameName achievements (@Model.GameDetails.Achievements.Count())</h3>

@foreach (var achievement in Model.GameDetails.Achievements.Select(a => a.HtmlDiv))
{
    <div>@Html.Raw(achievement)</div>
}

