@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a asp-page="./Achievements/AchievementComparison"
   asp-route-gameId="976730"
   asp-route-player1="76561198086634382"
   asp-route-player2="76561198193278659">Goto AchievementComparison</a>